.Home .lander {
   padding: 80px 0;
   text-align: center;
 }
 
 .Home .lander h1 {
   font-family: "Noto Sans", sans-serif;
   font-weight: 700;
 }
 
 .Home .lander p {
   color: #999;
 }

 .Home .notes h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  overflow: hidden;
  line-height: 1.5;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.Home .notes p {
  color: #666;
}

.Home img{
   width:100%;
}

.Home #react-modal-image-img{
   max-width: 70%;
}

.Home .mobile-view{
   display:none;
}

.Home .desktop-view{
   display:none;
}

.Home .row{
   padding-top: 8px;
   padding-bottom: 8px;
}

@media (max-width:991.96px){

   .Home .mobile-view{
      display: block;
   }
   .Home .col-lg-4{
      padding-top:8px;
      padding-bottom:8px;
   }

   .Home .row{
      padding: 0;
   }
}

@media (min-width:992px){
   .Home .desktop-view{
      display:block;
   }
}